input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;
    color: $purple;
    border: none;
    background-color: white;
    cursor: pointer;
}