.imagecard {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: $shadow_x300;
	padding: 15px;
	width: 300px;
	margin: 20px;

	// transform: scale(0.7);

	> div {
		margin: 5px;
	}

	&__image {
		> img {
			width: 300px;
			height: 250px;
			box-shadow: $shadow_x300;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;

		> div {
			margin: 5px;
		}

		&__title {
			flex: 1;
			color: #4e4e4e;
			font-weight: bold;
			flex-wrap: wrap;
		}

		&__price {
			display: flex;
			flex-direction: row;

			> div {
				display: block;
				font-size: 1.5em;
				font-weight: bold;
				&::after {
					content: "₹";
				}
			}

			&__base {
				text-decoration: line-through;
				color: #7c7c7c;
			}

			&__discounted {
				color: $success;
				margin-left: 30px;
			}
		}

		&__description {
			text-transform: none;
			letter-spacing: 0;
			color: #4e4e4e;
			font-size: 0.7em;
			line-height: 1.6em;
			text-align: justify;
            flex-wrap: wrap;
            height: 200px;
		}
	}

	&__button {
		cursor: pointer;
		color: white;
		background-color: tint(green, 30%);
		border-radius: 5px;
		padding: 10px;
		text-align: center;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: green;
		}
	}
}
