
.cart-icon {
	padding: 20px;
	border-radius: 50%;
	position: fixed;
	margin: 5px;
	top: 3rem;
	right: 0;
	z-index: 100;
	color: white;
	background-color: $success;
	border: 3px solid white;
	&:hover {
		background: shade($success, 20%);
		transition: all 0.4s ease-in-out;
	}
}

.cart-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
