// Project Variables
$black: black;
$darkest: #0c0c0c;
$darker: #0e0e0e;
$dark: #1a1a1a;

// $grey: #545E75;
$grey: #5e6982;

$blue: #1dbceb;

$red: #dd3311;
$white: #eeeeee;

$success: #2ab34a;
$warning: #ffce3b;

$purple: #7727d8;
$amethyst: #9b5de5;
$violet: rgb(174, 150, 202);

$minion_yellow: #fee440;
$russian_violet: #0d0630;

// project variables
$primary: rgb(0, 0, 0);
$snow: #fffbfeff;
$blue: #4472caff;
$corn: #fff05aff;
$orange: #ff785aff;

$font: "Open Sans";

$shadow_x400: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
$shadow_x300: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
$shadow_x200: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
$shadow_x100: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
$shadow_x50: 0px 0px 1px 0px rgba(0, 0, 0, 0.05);

$shadow_50: 0px 0px 1px rgba(0, 0, 0, 0.25);
$shadow_100: 0px 1px 1px rgba(0, 0, 0, 0.25);
$shadow_200: 0px 2px 2px rgba(0, 0, 0, 0.25);
$shadow_300: 0px 3px 3px rgba(0, 0, 0, 0.25);
$shadow_400: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow_all: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
$shadow_1: 0px 2px 6px 0px rgba(0, 0, 0, 5%);

$shadow_card: 0px 8px 24px 4px rgba(0, 0, 0, 0.07);
