$COMPANY_LOGO: url(../public/ap_logo.jpg);

$LANDER_HOMEPAGE_LOGO: url(../public/ap_logo.jpg);

$CONTACT_US: url(../public/contactUs.jpg);
$BUSINESS_INTRO_BG: url(../public/businessintroBG.jpg);
$LANDER_HOMEPAGE: url(../public/lander2.jpg);
$SMALL_INTRODUCTION: url(../public/contactUs2.jpg);
$ABOUT_US_LANDER: url(../public/AboutUS/aboutUsLander.jpg);
$BUSINESS_PAGE_LANDER: url(../public/AboutUS/aboutUsLander.jpg);

$PROFILE_IMG1: url(../public/anand.jpg);
$PROFILE_IMG2: url(../public/pallavi.jpg);
$ABOUT_GreatToGet: url(../public/profile.png);

$VESTEGE_INFO_IMAGE: url(../public/BusinessPage/vestege.jpeg);


$ANAND_IMAGE: url(../public/profile.png);
$PALLAVI_IMAGE: url(../public/profile.png);